// CHALLONGE
challongeApi:xxxxxxxxxxxxxxxxxxxxx
challongeUser:xxxxxxxxxxxxx
challongeMaxReturn:5

// GLOBAL
server:irc.site.net
botName:BotName
ident:password
channel1:#c1
channel2:#chann2
channel3:#wwwewgwrg
channel4:#wownice
invokingSymbol:!
root:YourIRCName
useragent:Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36

// COMMAND SETTINGS
googlePrefix:https://www.google.com/#q=
youtubePrefix:https://www.youtube.com/results?search_query=

// AKA RESPONSES
// ###* will be replaced with what comes after a command

aka-m2k:lol
aka-lol:m2k
aka-sayhi:Hello there ###*!!! (^:
aka-r:http://www.reddit.com/r/###*