// ###* will be replaced with what comes after a command
// ###1 will take the 1st word after a command
// ###2 will take the second, etc
invokingSymbol:!
challongeApi:xxxxxxxxxxxxxxxxxxxxx
challongeUser:xxxxxxx
challongeMaxReturn:5
root:IRCUserName(WillBeAdmin)
server:irc.someServer.net
channel1:#channel1
channel2:#CHAN2
channel3:#fsjahe3
googlePrefix:https://www.google.com/#q=
youtubePrefix:https://www.youtube.com/results?search_query=
aka-lenny:( ͡° ͜ʖ ͡°)
aka-m2k:lol
aka-cool:hey ###1, you're pretty cool (^: