// CHALLONGE
challongeApi:xxxxxxxxxxxxxxxxxxxxx
challongeUser:xxxxxxxxxxxxx
challongeMaxReturn:5

// GLOBAL
server:irc.site.net
botName:BotName
channel1:#c1
channel2:#chann2
channel3:#wwwewgwrg
channel4:#wownice
invokingSymbol:!
root:YourIRCName

// COMMAND SETTINGS
googlePrefix:https://www.google.com/#q=
youtubePrefix:https://www.youtube.com/results?search_query=

// AKA RESPONSES
// ###* will be replaced with what comes after a command

aka-m2k:lol
aka-lol:m2k
aka-sayhi:Hello there ###*!!! (^:
aka-r:http://www.reddit.com/r/###*